APP_ENV=local
SHOW_OTP_ON_FRONT=false

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=endout
DB_USERNAME=root
DB_PASSWORD=

RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=EndOut Support
SMTP_SECURE=ssl

PG_API_URL=
PG_PUBLIC_KEY=
PG_PRIVATE_KEY=
PG_SMS_ENCODING=LATIN
PG_SMS_REPORT_LABEL=endout-otp
PG_SMS_PURPOSE=INF
PG_SMS_ORIGINATOR=EndOut

TRUST_PROXY=false

BIRBANK_BASE_URL=
BIRBANK_USERNAME=
BIRBANK_PASSWORD=
BIRBANK_CALLBACK_URL=
